{% extends('@WSCore/cms/layout.html.twig') %}

{% page_configuration {
    'title': section.name|trans({}, section.translationDomain) ~ ' ' ~  'title'|trans({}, 'ws_cms_setting'),
    'header': 'title'|trans({}, 'ws_cms_setting'),
    'subtitle': section.name|trans({}, section.translationDomain),
    'breadcrumbs': [
        {
            'name': 'title'|trans({}, 'ws_cms_setting'),
            'main': true
        },
        {
            'name': section.name|trans({}, section.translationDomain)
        }
    ]
} %}

{% block content %}
    <div class="container">
        <div class="c-form c-form--expanded">
            <div class="c-form__title">
                <div class="c-form__title-wrapper">
                    <h2 class="u-h2">{{ 'title'|trans({}, 'ws_cms_setting') }}</h2>
                </div>
            </div>
            <div class="l-form-grid" data-page="settings">
                <div class="c-field l-form__item">
                    <p class="c-alert c-alert--s c-alert--cta c-alert--info">
                        <i class="fa-regular fa-circle-info"></i>
                        <span>{{ 'disclaimer'|trans({}, 'ws_cms_setting') }}</span>
                    </p>
                </div>
                {% for group in section.groups %}
                    <div class="c-field l-form__item l-form-grid">
                        <h5 class="u-h5 u-font-bold">
                            {{ group.name|trans({}, group.translationDomain) }}
                            {# {% if group.description is not empty %}
                                <small class="c-field__message u-mt-5">({{ group.description|trans({}, group.translationDomain) }})</small>
                            {% endif %} #}
                        </h5>
                        {{ render(controller('WS\\Core\\Controller\\CMS\\SettingController::form', {
                            'section': section.code,
                            'group': group.code
                        })) }}
                    </div>
                {% endfor %}
                {# <small class="c-field__message u-mt-5"><i class="fa fa-info-circle"></i>{{ 'required'|trans({}, 'ws_cms_setting')|raw }}</small> #}
            </div>
            <div class="c-form__footer">
                <button class="c-btn c-btn--solid" data-save-url="{{ path('ws_setting_save', { 'section': section.code }) }}" id="ws-settings-save">{{ 'save'|trans({}, 'ws_cms') }}</button>
            </div>
        </div>
    </div>
{% endblock %}

