<div class="c-dropdown dropdown" data-toggle="dropdown-profile" data-component="ws_dropdown">
    <a
        class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle"
        href="#"
        id="dropdwonMenuAvatar"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        <i class="fal fa-user-circle fa-lg u-pr-5"></i>
        {{ source('@WSCore/cms/icons/arrow.svg') }}
    </a>

    <div class="c-dropdown__menu dropdown-menu dropdown-menu-right dropdown-profile" aria-labelledby="dropdwonMenuAvatar">
        <a class="c-dropdown__item dropdown-item" href="{{ path('ws_administrator_profile') }}">
            <i class="fal fa-id-card u-mr-10"></i>{{ 'view_profile'|trans({}, 'ws_cms') }}
        </a>
        <a class="c-dropdown__item dropdown-item" href="{{ app.user ? logout_path() : '' }}">
            <i class="fal fa-sign-out-alt u-mr-10"></i>{{ 'logout'|trans({}, 'ws_cms') }}
        </a>
    </div>
</div>
