<header class="c-navbar u-mb-medium">
    <button class="c-sidebar-toggle js-sidebar-toggle">
        <span class="c-sidebar-toggle__bar"></span>
        <span class="c-sidebar-toggle__bar"></span>
        <span class="c-sidebar-toggle__bar"></span>
    </button>
    <div class="u-ml-auto">
        {% for menu in ws_cms_navbar_get() %}
            {% if menu.roles is empty or ws_cms_sidebar_is_granted(menu.roles) %}
                {% if menu.template is not empty %}
                    {{ include(menu.template, ignore_missing = true) }}
                {% else %}
                    <a class="u-mr-20" href="{{ path(menu.routeName, menu.routeOptions) }}" title="{{ menu.label|trans({}, menu.translationDomain)|raw }}">
                        <i class="fal {{ menu.icon }}"></i>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {{ include('@WSCore/cms/general/language.html.twig') }}

        {{ include('@WSCore/cms/general/alerts.html.twig') }}

        {% if ws_activity_log_enabled() and is_granted('ROLE_WS_CORE_ACTIVITY_LOG') %}
            <a class="u-mr-20" href="{{ path('ws_activity_log_index') }}" title="{{ 'title'|trans({}, 'ws_cms_activity_log') }}">
                <i class="fal fa-history"></i>
            </a>
        {% endif %}

        {{ include('@WSCore/cms/general/dropdown_profile.html.twig') }}
    </div>

    {% set breadcrumbs = [{ 'name': 'dashboard.menu'|trans({}, 'ws_cms'), 'path': path('ws_dashboard') }]|merge(get_breadcrumbs()) %}
    <ol class="c-breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="c-breadcrumb__item {{ breadcrumb.main is defined and breadcrumb.main ? 'is-active' }}">
                {% if breadcrumb.path is defined %}
                    <a href="{{ breadcrumb.path }}">
                        {{ breadcrumb.name }}
                    </a>
                {% else %}
                    {{ breadcrumb.name }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</header>
