{% if (ws_preview_enabled() and ws_preview_supported(entity)) %}
    {% if ws_preview_locales()|length == 1 %}
        <a
            class="c-btn c-btn--border"
            title="{{ 'preview'|trans({}, 'ws_cms')}}"
            href="{{ ws_preview_path(entity, { 'id': entity.id}) }}"
            target="_blank"
        >
            <i class="fa-light fa-eye"></i>
            {{ 'preview'|trans({}, 'ws_cms')}}
        </a>
    {% else %}
        <div class="c-dropdown dropdown u-hidden@md--down" data-toggle="dropdown-export" data-component="ws_dropdown">
            <button
                class="c-btn c-btn--border has-dropdown dropdown-toggle"
                type="button"
                title="{{ 'preview'|trans({}, 'ws_cms')}}">
                <i class="fa-light fa-eye"></i>
                {{ 'preview'|trans({}, 'ws_cms')}}
            </button>
            <div class="c-dropdown__menu dropdown-menu dropdown-export" aria-labelledby="ExportDropdownButton">
            {% for preview_locale in ws_preview_locales() %}
                <a class="c-dropdown__item dropdown-item" href="{{ ws_preview_path(entity, { 'id': entity.id, '_locale': preview_locale}) }}" target="_blank">
                    {{ "preview.#{preview_locale}.label"|trans([], trans_prefix) }}
                </a>
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}
