{% extends('@WSCore/cms/layout.html.twig') %}

{% page_configuration {
    'title': 'title'|trans({}, trans_prefix),
    'header': isCreate ? 'new'|trans({}, 'ws_cms') : 'edit'|trans({}, 'ws_cms') ~ ' ' ~ 'title'|trans({}, trans_prefix),
    'breadcrumbs': [
        {
            'name': 'title'|trans({}, trans_prefix),
            'path': ws_cms_path("#{route_prefix}_index"),
            'main': true
        },
        {
            'name': isCreate ? 'new'|trans({}, 'ws_cms') : 'edit'|trans({}, 'ws_cms') ~ ' ' ~ 'title'|trans({}, trans_prefix)
        }
    ]
} %}

{% block content %}
    {{ form_start(form) }}

    <div class="container">
        <div class="c-form" {% block crud_show_form_attributes %}{% endblock crud_show_form_attributes %}>

            {% block crud_show_title %}
                <div class="u-flex u-mr-auto">
                    <h2 class="c-form__title u-h2 u-mb-30">{{ 'title'|trans({}, trans_prefix) }}</h2>
                </div>
            {% endblock %}

            {% if form.saveAndBack is defined %}
                {% set saveAndBackField = form_widget(form.saveAndBack) %}
            {% endif %}

            {% block crud_show_content %}
                {{ form_widget(form) }}
            {% endblock %}

            <div class="c-divider u-mv-small"></div>

            {% block crud_show_action %}
                <div>
                    <button type="submit" class="c-btn c-btn--info">{{ 'save'|trans({}, 'ws_cms') }}</button>
                    {% if form.saveAndBack is defined %}
                        {{ saveAndBackField|raw }}
                    {% endif %}
                    <a href="{{ path("#{route_prefix}_index") }}" class="c-btn c-btn--cancel">{{ 'cancel'|trans({}, 'ws_cms') }}</a>
                </div>
            {% endblock %}

            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}

